@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.testimonial-slide{
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
@font-face {
  font-family: "poppins";
  src: url("../public/Poppins-Light.ttf");
}
@font-face {
  font-family: "DancingScript";
  src: url("../public/DancingScript.ttf");
}
@font-face{
  font-family: "lobsterRegular";
  src: url("../public/LobsterRegular.ttf");
}
@font-face{
  font-family: 'castoro';
  src: url('../public/Castoro.ttf');
}